.hm-padding-top-64-bot-16 {
    padding-top: 64px!important;
    padding-bottom: 16px!important;
}

.hm-ul {
    list-style-type: symbols("+");
}

.hm-ul li {
    padding: 2px;
}

.hm-ul li:last-child {
    border-bottom: none
}